.addbutton {
  background: #333;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 80%;
  z-index: 3;
}

.display {
  display: flex;
  justify-content: space-evenly;
}

.pen {
  font-size: 30px;
  color: aliceblue;
  position: relative;
  bottom: -10px;
  left: 10px;
}
.line {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.description-text {
  color: grey;
}

.title-text {
  color: darkcyan;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.user-welcome,
.collection .user-welcome {
  background-color: royalblue;
}

.person-icon {
  font-size: 5rem;
}

.header-items {
  display: flex;
  padding: 0.5rem 10rem;
}

.collection .collection-item.items {
  padding-left: 0.5rem;
}
